/*  your css code here. If applicable */
.container{
	padding:30px;
	border:4px solid black;
	border-radius:35px;
	width:400px;
	text-align:center;
	background-color:lightgray;
}
.circle{
	width:80px;
	height:80px;
	border-radius:50%;
	display:inline-block;
	margin:10px
	padding:auto;
	
}
.red{
	background-color:green;
}
.green{
	background-color:yellow;
}
.yellow{
	background-color:red;
}