/*  your css code here. If applicable */
.container{
	padding:20px;
	border:2px solid black;
	border-radius:25px;
	width:300px;
	text-align:center;
	background-color:#dcdcdc;
}
 .green, .yellow, .red{
	width:60px;
	height:60px;
	display:inline-block;
	border-radius:50%;
}
.green{
	background-color:green;
}
.yellow{
	background-color:yellow;
}
.red{
	background-color:red;
}

